/* RESPONSIVIDADE DO MENU LATERAL*/

@media (max-width: 1446px) {
    main {
        margin-left: 70px;
    }

    .menu_lateral {
        transition: 0.2s;
        padding: 0px;
        width: var(--tamanho_menu_tela_pequena);
        align-items: center;
    }


    main .card {
        width: calc(100vw - var(--tamanho_menu_tela_pequena));
        
    }

    .formulariobg {
        width: calc(100vw - var(--tamanho_menu_tela_pequena));
        margin-left: var(--tamanho_menu_tela_pequena);
    }

    .menu_lateral i {
        padding: 10px;
    }

    .menu_links span {display: none;}
    }

  @media (max-width: 768px) {

    /* Controle de colunas na tabela */
    div.table {
        overflow-x: scroll;
    }
    
  }